<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="postTitle" id="" autocomplete="off" required>
        <label class="form-label">Author</label>
        <input type="text" class="form-control" name="postAuthor" id="" autocomplete="off" required>
        <label class="form-label">Post</label>
        <textarea class="form-control" name="postBody" id="" cols="30" rows="5" required></textarea>
    </div>
    <button type="submit" name="button" class="btn btn-primary">Submit</button>
</form>

<%- include("partials/footer") -%>